<h1>Jobs For <%= jobs[0].company %></h1>
<% jobs.forEach(function(job) { %>
    <strong>JOB: <%= job.jobID %></strong>
    Part ID: <%= job.partID %>
    Date Issued: <%= job.Date %> 

<% }); %>
<a href="/admin/clients">Back</a>