<h1>Jobs For <%= jobs[0].company %></h1>
<% jobs.forEach(function(job) { %>
    <a href="/admin/clients/<%= job.clientID %>/<%= job.jobID %>"><strong>Job ID: <%= job.jobID %></strong></a>
    <br>
<% }); %>
<a href="/admin/clients">Back</a>